---
import Layout from '../layouts/Layout.astro';

const asd = 'asd';

const handleCommit = () => {
  console.log('hello');
};
---

<Layout title='Ujjwal Verma'>
  <h1>Ujjwal Verma Portfolio</h1>
</Layout>
