---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Sidebar from '../components/Sidebar.astro';
import Skills from '../components/Skills.astro';
import WorkExperience from '../components/WorkExperience.astro';
import Project from '../components/Project.astro';
import GetInTouch from '../components/GetInTouch.astro';
---

<Layout title='Ujjwal Verma'>
  <Navbar />
  <main class='mt-[60px] px-[100px]'>
    <Hero />
    <Sidebar />
    <Skills />
    <WorkExperience />
    <Project />
    <GetInTouch />
  </main>
</Layout>
