---
import ProfileImage from '../assets/profile-2.png';
---

<section class='h-[calc(100vh-60px)]'>
  <div class='flex justify-around items-stretch h-full pb-20'>
    <div class='w-3/6 self-stretch flex justify-center items-center'>
      <div>
        <h1 class='text-[48px] font-[600]'>👋 Hi, I am Ujjwal Verma</h1>
        <div>
          <p class='text-[32px] font-[600] text-primary my-4'>
            Full Stack Developer
          </p>
          <p class='text-justify overflow-wrap: break-word'>
            I am a Software Engineer currently working at <span
              class='text-primary font-[600]'>HashedIn by Deloitte</span
            > Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente repudiandae
            deserunt saepe ratione consequuntur laboriosam fuga neque eum. Recusandae
            repellat neque vero quo velit labore, voluptatem praesentium reprehenderit
            obcaecati aliquid.
          </p>
        </div>
      </div>
    </div>
    <div class='w-2/6 self-stretch flex justify-center items-center'>
      <img
        class='object-fit: cover h-[95%] w-96'
        src={ProfileImage}
        alt='Ujjwal Verma'
      />
    </div>
  </div>
</section>
