---
import ProfileImage from '../assets/profile-2.png';
---

<section class='h-[calc(100vh-60px)]' id='about'>
  <div class='flex justify-around items-stretch h-full pb-20'>
    <div class='w-3/6 self-stretch flex justify-center items-center'>
      <div>
        <h1 class='text-[48px] font-[600]'>👋 Hi, I am Ujjwal Verma</h1>
        <div>
          <p class='text-[32px] font-[600] text-primary my-4'>
            Full Stack Developer
          </p>
          <p class='text-justify overflow-wrap: break-word'>
            I am a Software Engineer currently working at <a
              class='text-primary font-[600]'
              href='https://hashedin.com/'
              target='_blank'>HashedIn by Deloitte</a
            >. Passionate about implementing and exploring things around full
            stack development. Technologies - Java(Core), JavaScript, C, HTML,
            CSS, Botostrap, ReactJS, Redux, SQL, NodeJS
          </p>
        </div>
      </div>
    </div>
    <div class='w-2/6 self-stretch flex justify-center items-center'>
      <img
        class='object-fit: cover h-[95%] w-96'
        src={ProfileImage}
        alt='Ujjwal Verma'
      />
    </div>
  </div>
</section>
