<header class='px-[25px] py-[20px] position: fixed top-0 w-full h-[60px]'>
  <nav class='text-[15px] font-[400] flex justify-between'>
    <div><a href='#'>Ujjwal Verma</a></div>
    <ul class='flex justify-around w-1/2'>
      <li><a>About</a></li>
      <li><a>Experience</a></li>
      <li><a>Projects</a></li>
      <li><a>Contact</a></li>
      <li>
        <a
          class='border-2 px-[16px] py-[10px]'
          href='https://drive.google.com/file/d/1Up1MuoOMuPC3G0Ca1MiEeRcKSmgixwen/view'
          target='_blank'>Resume</a
        >
      </li>
    </ul>
  </nav>
</header>
