---
import type { IProject } from './Project.astro';

const project = Astro.props.project as IProject;
---

<div class='w-[300px] shadow-md p-2 bg-[#FFFBEB]'>
  <div class='flex justify-between items-center'>
    <svg
      xmlns='http://www.w3.org/2000/svg'
      role='img'
      viewBox='0 0 24 24'
      fill='none'
      stroke='currentColor'
      stroke-width='1'
      stroke-linecap='round'
      stroke-linejoin='round'
      class='feather feather-folder w-7'
    >
      <title>Folder</title>
      <path
        d='M22 19a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h5l2 3h9a2 2 0 0 1 2 2z'
      ></path>
    </svg>
    <a class='inline-block' href={project.link}>
      <svg
        xmlns='http://www.w3.org/2000/svg'
        role='img'
        viewBox='0 0 24 24'
        fill='none'
        stroke='currentColor'
        stroke-width='2'
        stroke-linecap='round'
        stroke-linejoin='round'
        class='feather feather-github cursor-pointer hover:text-primary transition duration-200 w-5'
      >
        <title>GitHub</title>
        <path
          d='M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22'
        ></path>
      </svg>
    </a>
  </div>
  <h2 class='font-bold mt-3'>{project.name}</h2>
  <p class='mb-5 mt-1'>{project.description}</p>
  <ul class="flex gap-3 font-['Fira_Code'] text-xs">
    {project.tech_stack.map((tech_stack) => <l1>{tech_stack}</l1>)}
  </ul>
</div>
