---
import WorkCard from './WorkCard.astro';

export interface IWorkExperience {
  time: string;
  company: string;
  designation: string;
  description: string[];
}

const workExperiences: IWorkExperience[] = (
  await import('./../data/workExperience.json')
).default;
---

<section class='mt-10'>
  <h1 class='text-center text-3xl mb-10'>Work Experience</h1>
  <div class='w-[50%] mx-auto'>
    <ol class='relative border-l text-sm border-primary dark:border-gray-700'>
      {
        workExperiences.map((workExperiences) => (
          <WorkCard workExperience={workExperiences} />
        ))
      }
    </ol>
  </div>
</section>
